:root {
    --c-navyblue: #1a253b;
    --c-purple: #5f22a8;
    --c-orange: #ff4600;
    --c-black: #414141;
    --c-seadarkblue: #007693;
    --bg-light: #f5f9f2;
    --bg-dark: #edece6;
    --bg-input: #e0e7e0;
}

.app {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    font-family: 'Source Sans Pro', sans-serif;
}

.navegacao {
    padding: 0% 10%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--bg-input);
}

.navegacao__menu {
    display: flex;
    list-style-type: none;
}

.pesquisa {
    display: flex;
}

.pesquisa__campo {
    background-color: var(--bg-input);
    border-radius: 2px;
    border: none;
    height: 50px;
    margin-right: 10px;
    width: 200px;

}

.pesquisa__botao {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    width: 70px;
    font-weight: bold;

}

.pesquisa__botao:hover {
    background-color: var(--c-seadarkblue);
    cursor: pointer;
}

.navegacao h1 {
    color: var(--c-orange);
    text-transform: uppercase;
}

.carrinho__botao {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 70px;
    font-weight: bold;
}

.carrinho__botao:hover {
    cursor: pointer;
    background-color: var(--c-seadarkblue);
}